html, body {
    padding: 0;
    margin: 0;
    background: rgba(255, 228, 196, 0.308);
    color: #222;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

.div1 {
    background-image: linear-gradient(grey, rgba(128, 128, 128, 0));
    grid-row: 1/3;
    grid-column: 1/13;
    margin: 0;
}

.title {
    text-align: center;
    font-size: 3rem;
    margin-top: .5rem;
    color: rgba(21, 24, 27, 0.671);

}

.div2 {
    background-color: rgba(160, 81, 45, 0.301);
    grid-row: 4/8;
    grid-column: 1/3;
    margin-left: .5rem;
    border: 1rem ridge rgba(83, 43, 12, 0.562);
    border-radius: 7px;
    box-shadow: 4px 6px 7px rgba(90, 103, 116, 0.589);

}
.rulesTop {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1rem;
    text-decoration: underline;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.rulesBody {
    text-align: left;
    font-size: 1rem;
    margin-top: 1rem;
}